<% layout('layouts/boilerplate') %> 
    <h1>Campground Show</h1>
    <h2><%= campground.title %> </h2>
    <h3><%= campground.location %> </h3>
    <footer>
        <p>
            <a href="/campgrounds">All Campgrounds</a>
            <a href="/campgrounds/new">Add new campgrounds</a>
        </p>
        <p>
            <a href="/campgrounds/<%= campground._id %>/edit ">Edit</a>
            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </p>
    </footer>
